body{
  background-color:  hsl(30, 54%, 90%);
  font-size: 16px
}

.card-title{
  font-family:'Young Serif';
  font-size: 50px;
}
@media only screen and (max-width: 850px) { 
  .wholec  {
    width:100% !important;

  }
  .image{
    width: 100% !important;
  }
 }


  